.container {
  max-width: 600px;
}

.btn {
  background: #6c5ce7;
  color: #fff;
  outline: none !important;
  box-shadow: none !important;
}

.btn:focus {
  outline: none !important;
}

.username {
  font-weight: bold;
}

.time {
  font-size: 0.7rem;
  color: #999;
}

.update-message {
  text-align: center;
  margin: 20px auto;
}
